#page-twitchUser-list {
  width: 100vw;
  height: 100vh;
}

#search-twitchUsers {
  margin-top: 3.2rem;
}

#search-twitchUsers label {
  color: var(--color-text-in-primary);
}

#search-twitchUsers button {
  width: 100%;
  height: 5.6rem;
  background-color: var(--color-secondary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

#search-twitchUsers button:hover {
  background-color: var(--color-secondary-dark);
}

#page-twitchUser-list main {
  margin: 3.2rem auto;
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

@media (min-width: 700px) {
  #page-twitchUser-list {
    max-width: 100vw;
  }

  #search-twitchUsers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    position: absolute;
    bottom: -28px;
  }

  #search-twitchUsers .input-block + .input-block,
  #search-twitchUsers .select-block + .select-block {
    margin-top: 0;
  }
  #page-twitchUser-list main {
    padding: 3.2rem 0;
    max-width: 95%;
    margin: 0 auto;
  }
}
