.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin-left: 10px;
  color: var(--color-button-text);
}

.menu .icon {
  cursor: pointer;
}

.menu .icon:hover {
  opacity: 0.6;
}

@media (min-width: 700px) {
}
